body {
  background: #b7f115;
  margin: 0;
}

.first-banner {
  height: 80px;
  width: 100%;
}

.sub-konga {
  background: #f0f2f5;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: -0.3rem;
  padding: 10px;
}

.sub {
  width: 120px;
  height: 20px;
}

nav {
  display: flex;
  /* gap: 2rem; */
  background: #ed017f;
  justify-content: space-around;
  padding: 10px;
  /* background: #000; */
}

.logo {
  height: 30px;
  margin-top: 10px;
}

.store,
.sell,
.help,
.login,
.cart {
  color: white;
  text-decoration: none;
  /* margin-top: 15px; */
  padding: 15px;
}

.cart {
  background: green;
  padding: 15px;
  height: 20px;
  margin: auto 0;
  /* display: inline-block; */

  /* .fa-cart-shopping{
    padding: 10px;
  } */
}

a:hover {
  color: #ed017f;
  background: #fff;
}

span {
  margin-bottom: 5px;
  padding: 10px;
}
input {
  padding: 6px;
  width: 600px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 20px;
  border-color: white;
  margin-top: 5px;
}

.search {
  display: flex;
  /* height: 50%; */
  padding: 10px;
  /* background: #000; */
}
.fa-magnifying-glass {
  color: white;
  background-color: #fba100;
  padding: 8px;
  margin-top: 5px;
  /* height: 10px; */
  /* padding-top: 15px; */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.banner {
  background: #ec1c1c;
  width: 100%;
  height: 150px;
}

ul {
  display: flex;
  background-color: #7e0345;
  justify-content: space-around;
  margin: 0;
}

li {
  list-style: none;
  color: white;
  padding: 18px;
  font-size: 13px;
}
